<%= form_with(model: ad, local: true) do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name, id: :ad_name, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.text_field :image, id: :ad_image, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :ad_link, class: 'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default'%>
  </div>
<% end %>
