<p id="notice"><%= notice %></p>

<h1>Anuncios</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.name %></td>

        <td> <%= image_tag ad.image, height: 100 %> </td>

        <td><%= ad.link %></td>
        <td><%= link_to 'Ver', ad, class: 'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_ad_path(ad), class: 'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', ad, method: :delete, data: { confirm: 'Desea Eliminarlo?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Anuncio', new_ad_path %>
