<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @ad.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @ad.link %>
</p>

<%= link_to 'Editar', edit_ad_path(@ad) %> |
<%= link_to 'Volver', ads_path %>
