<h2>Registrarse</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, required: false, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :contraseña %>
      <% if @minimum_password_length %>
        <em>( <%= @minimum_password_length %> caracteres minimos )</em>
      <% end %>
      <br/>
      <%= f.password_field :password, required: false, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :"confirmar contraseña" %>
      <%= f.password_field :password_confirmation, required: false, class: 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Registrarse", class: 'btn btn-default' %>
    </div>

<% end %>

<%= render "devise/shared/links" %>
