<h2>Olvido su contraseña?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, utofocus: true, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviame la contraseña", class: 'btn btn-default'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
