<h4>Solicitar cita</h4>

<%= form_tag create_meet_path do %>
    <div class="field">
      <%= label_tag :nombre %>
      <%= text_field_tag :name, nil, class: 'form-control'%>
    </div>

    <div class="field">
      <%= label_tag :'fecha de cita' %>
      <%= text_field_tag :meeting, nil, class: 'form-control', placeholder: 'dd/mm/aaaa'%>
    </div>

    <div class="field">
      <%= label_tag :Asunto %>
      <%= text_area_tag :subject, nil, class: 'form-control'%>
    </div>

    <div class="actions">
      <%= submit_tag "Solicitar", class: 'btn btn-default'%>
    </div>
<% end %>
