<h2><strong><%= @post.title %></strong> <small> / <%= @post.category.name %></small></h2>
<small><%= @post.created_at.to_formatted_s(:long) %> por <strong> <%= @post.user.email %></strong></small>
<hr/>
<%= @post.content %>

<h3>Comentatios</h3>

<% @comments.each do |c|  %>
    <blockquote>
      <p> <%= c.content %> </p>
      <footer> <%= c.name %></footer>
    </blockquote>
<% end %>

<h4>Crear nuevo comentario</h4>

<%= form_tag create_comment_path do %>
<div class="field">
  <%= label_tag :nombre %>
  <%= text_field_tag :name, nil, class: 'form-control'%>
</div>


<div class="field">
  <%= label_tag :contenido %>
  <%= text_area_tag :content, nil, class: 'form-control'%>
</div>

    <%= hidden_field_tag :post_id, @post.id%>
<div class="actions">
  <%= submit_tag "Crear comentario", class: 'btn btn-default'%>
</div>
<% end %>