<h2>Acceder</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control'%>
    </div>
    <div class="field">
      <%= f.label :contraseña%>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :recordar, as: :boolean  %>
        </div>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Acceder", class: 'btn btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
