<%= form_with(model: meet, local: true) do |form| %>
  <% if meet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meet.errors.count, "error") %> prohibited this meet from being saved:</h2>

      <ul>
      <% meet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :meet_name, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :meeting %>
    <%= form.date_select :meeting, id: :meet_meeting, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_area :subject, id: :meet_subject, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :meet_status, class: 'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default'%>
  </div>
<% end %>
