<p id="notice"><%= notice %></p>

<h1>Citas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Citar</th>
      <th>Asunto</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meets.each do |meet| %>
      <tr>
        <td><%= meet.name %></td>
        <td><%= meet.meeting %></td>
        <td><%= meet.subject %></td>
        <td><%= meet.status %></td>
        <td><%= link_to 'Ver', meet, class: 'btn btn-default'%></td>
        <td><%= link_to 'Editar', edit_meet_path(meet), class: 'btn btn-default'%></td>
        <td><%= link_to 'Eliminar', meet, method: :delete, data: { confirm: 'Desea Eliminarlo?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Cita', new_meet_path %>
