<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @meet.name %>
</p>

<p>
  <strong>Citas:</strong>
  <%= @meet.meeting %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @meet.subject %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @meet.status %>
</p>

<%= link_to 'Editar', edit_meet_path(@meet) %> |
<%= link_to 'Volver', meets_path %>
