<p id="notice"><%= notice %></p>

<h1>Articulos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulos</th>
      <th>Contenido</th>
      <th>Estatus</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.status %></td>
        <td><%= post.url %></td>
        <td><%= link_to 'Ver', post, class: 'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_post_path(post), class: 'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Articulo', new_post_path %>
