
.barra-top {
  background-color: black !important;
  a{
    color: white !important;
  }
}

.barralado-top {
  background-color: black !important;
  li {
    color: white !important;
  }
}

.blanco-top {
  color: white;
}
