
.barras-top {
  background-color: black !important;
  margin-bottom: -10px;
  a{
    color: white !important;
  }
}


.barralado-top {
  background-color: black !important;
  li {
    color: white !important;
  }
}

.blanco-top {
  background-color:  black !important;
  a{
    color: white !important;
  }
}

.tituloBlog {
  background-color: #F7F7F7 !important;
  margin-bottom: 40px;
  h1 {
    color: orange;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: -1px;
  }
  h3 {
    color: gray;
    font-size: 23px;
    font-family: Georgia, Helvetica, Arial, Sans-Serif;
    margin-bottom: 30px;
  }
}
.nosotros {
  margin-top: 20px;
}

.ocultar {
  height: 90px;
  overflow: hidden;
  margin-bottom: 10px;
}

.bordeo-top {
  background-color: darkgray !important;
  margin-bottom: 40px;
  a{
    color: black !important;
  }
}