<p id="notice"><%= notice %></p>

<h1>Categorias</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'ver', category, class: 'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_category_path(category), class: 'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Desea Eliminarlo?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Categoria', new_category_path %>
